<div>
<h2>List of Products</h2>
<table> 
    <thead>  
        <tr>
            <th>Product Image</th>
            <th>Product name</th>
            <th>Product Type</th>
            <th>Product Price</th>
            <th>Delivery Status</th>
            <th>Delete</th>   
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of cart">
            <td><img src="{{product.productImage}}"></td>
            <td>{{product.productName}}</td>
            <td>{{product.productType}}</td>
            <td>{{product.productPrice}}</td>
            <td></td>
            <td><button (click)="delete(product.id)">Delete</button></td>
        </tr>
    </tbody>
</table>
</div>