<app-navbar></app-navbar>

<div *ngIf="cart.length!==0">
  <h2>List of Ordered Products</h2>
  <table>
    <thead>
      <tr>
        <th>Product Image</th>
        <th>Product name</th>
        <th>Product Type</th>
        <th>Product Price</th>
        <th>Ordered By</th>
        <td>Delivery status</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of cart">
        <td><img src="{{ product.productImage }}" /></td>
        <td>{{ product.productName }}</td>
        <td>{{ product.productType }}</td>
        <td>{{ product.productPrice }}</td>
        <td>{{product.userId}}</td>
        <td><button (click)="delivered(product.id)">Delivered</button></td>
      </tr>
    </tbody>
  </table>
</div>
<ng-container *ngIf="cart.length==0">
  <div class="card" >
    <!-- <button id="button" routerLink="/home-path/view-home-path">Shop Now!</button> -->
  </div>
  </ng-container>
