<div class="container" id="container">
    <div class="form-container log-in-container">
        <form action="LoginPage.jsp" method="post">
            <h1>Login</h1>
            <input type="email" name="username" placeholder="Email" />
            <input type="password" name="password" placeholder="Password" />
            <input type="submit" value="Login" />
            <a href="#">Forgot your password?</a>
            <br />
            <div>
                <span>
                    <a href="SignUp.html">Sign-up</a>
                </span>
            </div>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <h1>ONLINE FOOD ORDERING</h1>
                <p>Please login to order your briyani</p>
            </div>
        </div>
    </div>
</div>