<div class="container" id="container">
    <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
        <h1>Login</h1>
        <input type="text" id="email" class="formcontrol" name="email" placeholder="Enter your Mail Id" ngModel required
            email>
        <input type="password" id="password" class="formcontrol" name="password" placeholder="Enter the passsword"
            ngModel required password>
        <button>Submit</button>
        <br>
        <br />
        <div>
            <span>
                <a href="">Sign-up</a>
            </span>
        </div>
    </form>
</div>