<app-navbar></app-navbar>
<div class="container" id="container">
  <form [formGroup]="loginform" (ngSubmit)="login()">
    <h1>Login</h1>
    <input
      type="text"
      id="email"
      class="formcontrol"
      formControlName="email"
      placeholder="Enter your Mail Id"
      autocomplete="off"
    />
    <input
      type="password"
      id="password"
      class="formcontrol"
      formControlName="password"
      placeholder="Enter the passsword"
      autocomplete="off"
    />
    <button type="submit">Submit</button>
    <p> New user? <a routerLink="/loginSignUp-path/sign-up-path"> Register </a> </p>
  </form>
</div>
<router-outlet></router-outlet>
