.card img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    transition: 0.3s ease-in-out;
}
.card img:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1)
}
.card {
    padding: 5px;
    margin: 30px;
    border:1px solid black;
    width: fit-content;
    background-color:floralwhite;
    
}
.container {
    display: flex; 
    flex-wrap:wrap;
    padding-top: 55px
}
.button {
    border-radius: 20px;
    border: 1px solid #00d2ff;
    background-color: #3a47d5;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    cursor: pointer;
}
.clicked {
    border-radius: 20px;
    border: 1px solid #00d2ff;
    background-color: red;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    cursor: pointer;
}
img{
    max-width: 200px;
    max-height: 200px;
}
td{
    text-align: center;
    padding: 5px;
}
