table,
td,
th {
    border: 1px solid;
    border-collapse: collapse;
}

tr:nth-child(odd) {
    background-color: #eee;
}

td,th {
    padding: 10px 20px;
}
td{
    max-width: 100px;
    overflow:auto;
}
.column { 
    float: right;
    width: 50%;
}
.column1{
    text-align: center;
    float:left;
    padding-left: 30px;
}